/* Variables */

:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color: #ff7700;
    --secondary-accent-color: #ff4141;
    --spacing-unit: 1rem;
}

/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
    cursor: pointer;
}

div {
    border: 1px solid #333;
}

/* Calculator Styles */

.container {
    height: 35rem;
    width: 25rem;
    margin: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.button-grid {
    
}